*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 30px;
    
}
nav{
    background-color: #010101;
    display: flex;
    width: 100%;
    height: 80px;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar ul li {
    margin-left: 20px;
    list-style-type: none;

}
.navbar .active{
    list-style-type: circle;

}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;;
 
}