*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 0 30px;
    background-color: #060606;
    height: 100vh;
    
}
nav{
    background-color: #010101;
    display: flex;
    width: 100%;
    height: 80px;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar ul li {
    margin-left: 25px;
    list-style-type: none;
    font-size: 16px;

}
button{
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #060606;
    color: #FFFFFF;
    box-shadow:0 0 50px 30px #060606;
    border-top: 6px solid #444444;
    border-left: 2px solid #444444;
    border-right: 2px solid #444444;
    border-bottom: 1px solid #444444;

 
}

section{
    display: flex;
    justify-content: space-between;
    height: 100vh;

}
.home-page-content{
    flex: 2;
    align-items: center;
    margin-top: 100px;
    
}
.home-image{
    flex: 1;
    align-items: end;
    margin-top: 10px;
   
}
.home-content{
    color: #FFFFFF;
    font-size: 25px;
    width: 500px;
    margin-top: 10px;
}
.home-heading{
    font-size: 80px;
    width: 700px;
    color: #FFFFFF;
}
.buttons{
    display: flex;
    margin-top: 40px;
}
.new-button{
   margin-right: 40px;

}

.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;

}

.content-2{
    flex: 1;
    margin-top: 40px;
    
    
}
.content-heading{
    color: #FFFFFF;
    font-size: 30px;
    width: 460px;
    margin-left: 60px;

}
.content-paragraph{
    color: #FFFFFF;
    margin-top: 40px;
    width: 500px;
    margin-left: 60px;

}
.section-3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    

}
.box-1{
    box-shadow:0 0 20px 20px #060606;
    height: 250px;
    background: linear-gradient(60deg, #070707, #6D6D6D);
    border-radius: 10px;

}
.box-heading{
    color: #FFFFFF;
    margin-left: 20px;
    margin-top: 20px;
}
.box-image{
    margin-left: 20px;
    margin-top: 20px;
}
.box-2{
    border-radius: 10px;
    height: 250px;
    background: linear-gradient(60deg, #070707, #6D6D6D);
    

}
.box-3{
    height: 250px;
    background: linear-gradient(60deg, #070707, #6D6D6D);
    border-radius: 10px;

}
.box-paragraph{
    margin-left: 20px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
}
.learn-more{
    margin-left: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.Services-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 60px;
    
}
.section-4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 200px;
}
.box-content1{
    flex: 1;


}
.box-content2{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.h1-content{
    color: #FFFFFF;
    margin-top: 30px;
    font-size: 40px;
}
.About-paragraph{
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    width: 450px;
    line-height: 32px;

}

.content2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
}
.rate{
    color: #FFFFFF;
}
.years{
    color: #FFFFFF;
}

.section-5{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    
    
}
.sec{
    background-color: #070707;
    border: 1px solid #444444;
    border-radius: 20px;
    padding: 30px;
    
}
.inside-sec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.sec-heading{
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 20px;

}
.sec-paragraph{
    color: #FFFFFF;
    width: 300px;
    margin-bottom: 20px;
}
.sec-learn-more{
    color: #FFFFFF;
    text-decoration: none;


}
.section-6{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    height: 600px;
    margin-top: 100px;

}
.sec6{
    display: flex;
    flex-direction: column;
    border: 2px solid #444444;
    border-radius: 10px;
    padding: 20px;
    height: 400px;
    gap: 30px;

}
.grey-color{
    flex: 1.5;
    background-color: #D9D9D9;
    border-radius: 15px;

}
.grey-content{
    flex: 1;
    
}
.sec6-heading{
    color: #FFFFFF;
    margin-top: 20px;

}
.sec6-paragraph{
    color: #FFFFFF;
    width: 300px;
    margin-bottom: 20px;

}
.sec6-anchor{
    color: #FFFFFF;
    text-decoration: none;

}
